.config/user-dirs*
.config/zsh/.zcompdump*
.config/configstore/
.config/dconf/
.config/nautilus/
.config/coc/
.config/BraveSoftware
.config/nvim/.netrwhist
.config/pulse/
.config/pavucontrol.ini
.config/mimeapps.list
.config/Kitware/
.config/QtProject.conf
