.config/user-dirs*
.config/zsh/.zcompdump*
.config/configstore/
.config/dconf/
.config/nautilus/
.config/coc/
.config/BraveSoftware
.config/nvim/.netrwhist
.config/pulse/
.config/pavucontrol.ini
.config/mimeapps.list
.config/Kitware/
.config/QtProject.conf
.config/GIMP/
.config/JetBrains/
.config/Slack/
.config/zoomus.conf
.config/autostart/
.config/Unknown\ Organization/
.config/nitrogen/
.config/spotify/
.config/zsh/.zsh_history
.config/Atom/
.config/Code\ -\ OSS/
.config/Code/
.config/libreoffice/
.config/sublime-text-3/
.config/MusicBrainz/
.config/Risk_of_Rain/
.config/arkrc
.config/cef_user_data/
.config/discord/
.config/exaile/
.config/geany/
.config/gedit/
.config/gh
.config/gnome-mplayer/
.config/gthumb/
.config/inkscape/
.config/kdeglobals
.config/kwalletrc
.config/qBittorrent/
.config/torbrowser/
.config/totem/
.config/vlc/
