# Remap caps to escape
setxkbmap -option caps:escape

# Stop screen from going blank
xset s off
xset -dpms
xset s noblank

# Faster key repeat and delay
xset r rate 150 45

# Keyboard Layouts
setxkbmap -layout 'us,ru' -option 'grp:alt_shift_toggle'

# Start compositor
picom -b --experimental-backends &

# Open flameshot on startup
flameshot &

# Hide Cursor when typing
xbanish &

# Wallpaper
feh --bg-fill --randomize $HOME/wallpapers/desktop/* &
